@charset "UTF-8";

	.loginTable {
		width: 80%;
		border: 1px solid #99e6ff;
		border-collapse: collapse;
		border-style: hidden;
		box-shadow: 0 0 0 1px #99e6ff;
		border-spacing: 0;
		border-radius: 15px;
	}
	
	.login2 {
		border: 1px solid #99e6ff;
		padding: 10px;
		font-size: 20px;
		border-radius: 5px;
	}
	
	.login3 {
		width: 100px;
		height: 30px;
		background-color: #99e6ff;
		color: #0066cc;
		border: none;
		border-radius: 5px;
		font-size: 20px;
	}
	
	.login4 {
		border: 1px solid #99e6ff;
		width: 150px;
		height: 30px;
		border-radius: 5px;
	
	}
	
	.login5 {
		border: 1px solid #99e6ff;
		padding: 10px;
		font-size: 20px;
		border-radius: 15px 0px 0px 0px;
		background-color: #b3ecff;
	}
	
	.login6 {
		border: 1px solid #99e6ff;
		padding: 10px;
		font-size: 20px;
		border-radius: 0px 15px 0px 0px;
		background-color: #b3ecff;
	}
	
	.login7 {
		text-decoration: none;
		color: #0066cc;
		text-align: center;
		font-size: 20px;
	}